/* Mobile and Tablet */
@media (max-width:1023px) {


}
/* Tablet */
@media (min-width:740px) and (max-width:1023px) {
    .header__navbar {
        flex-direction: column;
        align-items: center;
    }
    .header__navbar .header__navbar-list:last-child {
        display: none;
    }
    .header__navbar-item {
        padding: 8px 0;
    }
    .header-with-search {
        flex-direction: column;
        margin-bottom: 64px;
        
    }
    .header__search {
        width: 72%;
    }
    .header__logo {
        margin: 36px 0;
    }
    .header__tool {
        justify-content: space-between;
    }
    .header__menu-block {
        display: none;
    }
    .header__menu-gradient {
        justify-content: space-around;
    }
    .header__menu-gradient .header__menu-tablet {
        display: block;
    }
    .header__list-menu-tablet .menu__list-item-tablet .header__notify {
        display: none;
    }

}
/* Mobile */
@media (max-width:739px) {

}