
/* Mobile and Tablet */
@media (max-width:1023px) {
    .header__navbar .header__navbar-list:last-child {
        display: none;
    }
    .header__menu-block {
        display: none;
    }
    .header__menu-gradient {
        justify-content: space-around;
    }
    .notify__header-text-tablet {
        display: none;
    }
    .notify__header-text-tablet.open {
        display: block;
    }
    .container .list-dot {
       margin: 0;
    
    }

    .header__menu-gradient .header__menu-tablet {
        display: block;
    }
    .product__category {
        display: block;
    }
    .product__content .product__name {
        display: none!important;
    }
    .product__content {
        display: none;
    }
    .product__content:first-child {
        display: block!important;
    }
    .product__content .product-category {
       display: none;
    }
    .product__content .product-list .product__item {
        margin: 6px 4px;
    }
    .product__content .product-list img {
        width: 180px;
        max-width: 100%;
        margin-top: 0;
    }
    .counter__up .list-counter .counter-item {
        flex-basis:36% ;
    }
    .blog__content-spaper .newspaper img {
        width: 100%;
    }
    .header__navbar {
        flex-direction: column;
        align-items: center;
    }
 
    .header__navbar-item {
        padding: 8px 0;
    }
    .header-with-search {
        flex-direction: column;
        margin-bottom: 64px;
        
    }
    .header__search {
        width: 72%;
    }
   
    .header__tool {
        justify-content: center;
    }

    .product-list .search-category {
        margin: 0;
    }
    .product__content {
        padding-top: 0;
    }
   
   


}
/* Tablet */
@media (min-width:740px) and (max-width:1023px) {
    .hide-on-tablet {
        display: none ;
    }
    .header__logo {
        margin: 36px 0;
    }
    
    .myslides .content-section {
        left: -3%;
        width: 400px;
        top: 18%;
        line-height: 1;
    }
    .myslides:nth-child(2) .content-section .slide__desc span {
        line-height: 1;
    }
    .container .content-section .slide__desc {
        font-size: 36px;
        
    }
    
    
    .model-body {
        transform: translateY(-30%);
        animation: fadeInTablet .3s ease;
    }
    @keyframes fadeInTablet {
        from {
            opacity: 0;
            transform: translateY(-40%);
        }
        to {
            opacity: 1;
            transform: translateY(-30%);
        }
    }

}
/* Mobile */
@media (max-width:739px) {
    .hide-on-mobie {
        display: none ;
    }
    .show-on-mobile {
        display: flex ;
    }
    .header__navbar {
        display: none;
    }
    .header__logo {
        margin: 0;
    }
    .header__search-selection {
       display: none;
    }

    .header-with-search {
        margin-bottom: 0;
        min-height: 0;
    }
    .header__menu-gradient {
        min-height: 76px;
    }
    .header__tool {
        flex: 4;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .header__search {
        flex: 6;
    }
    .header__cart {
        flex: 1;
    }
    .header__cart .number-items {
      
        top: -12px;
        left: 60%;
    }
    .price-text,
    .prices-number {
        display: none;
    }

    .menu__list {
       display: none;
    }

    .menu__list li a {
        padding: 0 12px;
    }
    .header-with-search .header__tool {
        display: none;
    }
    .header__menu-gradient::before {
        display: none;
    }
    .header__menu-gradient .header__menu-tablet {
        margin-left: 0;
        flex: 0.5;
    }
    .header__menu-gradient .header__tool {
        display: flex;
    }
    .myslides .content-section {
        display: none;
    }
    .list-search-category .search-category-block {
        display: none;
    }
    .product-list .list-search-category > .select__input {
        display: flex;
    }
    .blog__content-spaper .newspaper  {
        margin: 16px 0;
    } 

    .footer__sign-up {
        padding: 30px;
        flex-wrap: wrap !important;
    }
    #footer__invite-email {
        max-width: 100%;
        
    }
    .footer__info .list__socia .button__socia:hover {
        width: 160px;
    } 
   
    .footer__info .list__socia .button__socia span {
        margin-left: 0;
    }
    .counter__up .list-counter .counter-item {
        flex-basis: 42%;
        margin: 20px 12px;
    }

    .list-pagination .pagination-item {
        margin: 0;
       
    }
    .list-pagination .pagination-item .pagination-link {
        height: 28px;
        line-height: 28px;
        font-size: 1.6rem;
        min-width: 36px;
    }
    /* Model */
    .model-overley {
        display: none;
    }
    .model-inner {
        position: fixed;
        inset: 0px;
        background-color: rgb(255, 255, 255);
    
    }
    .model-inner .model-container .form-control input {
        width: 420px;
        max-width: 100%;
    }
    .model-body {
        animation: none;
    }
    .model-inner .form__socia div[class*="access__socia-"] {
        margin-left: 0;
        margin-right: 0;
        margin-top: 16px;

    }
    

.model-inner .model-container .form__btn-access {
    margin-top: 36px;
}
  



   
}